@import url(fonts.css);

:root {
    --main-font: "Open Sans"
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}



.btn {
    background: #297D3B;
    border-radius: 40px;
    max-width: 200px;
    width: 100%;
    text-align: center;
}

/* Nav start */

.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    z-index: 5;
    background: #FAFAFA;
}

.nav__content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.language {
    background: #FAFAFA;
    border-radius: 40px;
    border: none;
    padding: 5px 6px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #242222;
}

.language:focus {
    outline: none;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #242222;
    margin-right: 55px;
}

.nav__right {
    display: flex;
    column-gap: 61px;
    align-items: center;
}

.nav__icons {
    display: flex;
    align-items: center;
}

.nav__icon {
    font-size: 22px;
    color: #297D3B;
    margin-right: 10px;
}

/* nav endes */

/* Header start */
.header__nav {

    position: fixed;
    width: 100%;
    top: 70px;
    left: 0;
    backdrop-filter: blur(12px);
    z-index: 4;
    flex-shrink: 0;
    padding: 33px 0;
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand-logo {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #242222;
}

.header__brand-logo span {
    color: #297D3B;
}

.header__nav-form {
    background: #FAFAFA;
    border: 0.5px solid #EBEBEB;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
    border-radius: 40px;
    max-width: 564px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-right: -100px;
}

.header__nav-form input {
    border: none;
    padding: 21px 22px;
    background: #FAFAFA;
    border-radius: 40px;
}

.header__nav-form input:focus {
    outline: none;
    max-width: 564px;
    width: 100%;
}

.header__list-link {
    max-width: 50px;
    width: 100%;
    background: #FAFAFA;
    border: 0.5px solid #EBEBEB;
    border-radius: 50%;
    font-size: 18px;
    padding: 13px 17px;
    margin-right: 44px;
    color: #242222;

}

.header__list-btn {
    max-width: 170px;
    width: 100%;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #ffffff;
    padding: 15px 24px;
    margin-left: 20px;
}

.header___content {
    display: flex;
    margin-top: 170px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__left-title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: #242222;
    max-width: 568px;
    width: 100%;
    margin-bottom: 20px;
}

.header__left-txt {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #242222;
    max-width: 452px;
    width: 100%;
    margin-bottom: 55px;

}

.header__left-btn {
    color: #FFFFFF;
    border-radius: 5px;
    transform: rotate(40deg);
    max-width: 200px;
    width: 100%;
    position: relative;
    padding: 20px 29px;


}

.header__left-btn:nth-of-type(1) {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 99%);

}

.header__left-btn:nth-of-type(2) {
    clip-path: polygon(10% 2%, 100% 0, 100% 100%, 0 99%);
}


.header__left-title span {
    color: #297D3B;
}

.header__right-city {
    position: absolute;
    bottom: -181px;
    right: 0;
}

.header__right-img {
    position: absolute;
    top: 19px;
    right: 39px;
}


/* header end */


/* main start */
main {
    margin-top: 200px;
}

/* projects start  */
.projects {
    position: relative;
}

.projects__content {
    display: flex;
    flex-direction: column;

}

.projects__introduce {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    align-items: center;
}

.project__introduce-title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #242222;
}

.projects__btns {
    display: flex;
    column-gap: 25px;
    align-items: center;
    margin-bottom: 50px;
}

.projects__btn {
    max-width: 200px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #242222;
    background: #FAFAFA;
    border: 0.5px solid #EBEBEB;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
    border-radius: 50px;
    transition: all .4s;
}

.projects__btn:hover {
    background: #297D3B;
    color: #ffffff;
}

/* projects grid */

.projects__blocksystem {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;

}

.projects__block {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    background: #FAFAFA;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}

.projects__block-img {
    max-width: 418px;
    width: 100%;
}

.project__block-content {
    padding: 20px 0 48px 28px;
}

.project__block-title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #242222;
    margin-bottom: 15px;
}

.project__block-txt {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #242222;
    margin-bottom: 10px;
}

.project__block-btn {
    max-width: 170px;
    width: 100%;
    text-align: center;
    padding: 16px 45px;
    color: #ffffff;

}

.margin__bottom {
    margin-bottom: 42px;
}

.project__circle {
    position: absolute;
    z-index: -1;
    max-width: 1125px;
    width: 100%;
    bottom: -1279px;
    right: 0;
}