@media (max-width: 1510px) {
    .header__right::after {
        right: 289px;
    }
}

@media (max-width: 1440px) {
    .header__right::after {
        right: 243px;
        top: -166px;
        transform: scale(0.9);
    }
}

@media (max-width: 1360px) {
   

    .slider__title {
        max-width: 520px;
        width: 100%;
    }
}

@media (max-width: 1320px) {
    .header__nav-form {
        max-width: 500px;
        width: 100%;
    }

    .header__right::after {

        max-width: 650px;
        width: 100%;
    }

    .slider__title {
        max-width: 500px;
        width: 100%;
    }
    .slider__title {
        font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }

    .slider__txt {
        font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920));
    }

}

@media (max-width: 1290px) {
    .consultation__blocksystem {
        grid-template-columns: repeat(3, 1fr);

    }



    .header__right::after {

        top: -264px;
        right: 336px;
        max-width: 550px !important;
        width: 100%;
    }

    .header__right {
        max-width: 420px;
        width: 100%;
    }

    .header__nav-form {
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 1170px) {
    .header__right-city {
        max-width: 610px;
        width: 100%;
        top: -30%;
        left: 46%;
    }

    .slider__title {
        font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }

    .header__nav-form {
        max-width: 350px;
        width: 100%;
    }

    .header__right-img {
        max-width: 400px;
        width: 100%;
    }

    .header__left-title {
        font-size: calc(22px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    }


    .slider__txt {
        font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1920));
    }

    .header__left-txt {
        font-size: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
    }
}

@media (max-width: 1140px) {
    .header__nav-form {
        max-width: 300px;
        width: 100%;
    }

    .nav__link {
        margin-right: 30px;
    }
}

@media (max-width: 1024px) {

    .nav__link {
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    .header__nav-brand {
        width: 100%;

    }
    .slider__item{
        /* min-height: 488px; */
        height: 400px;
        overflow: hidden;
}

    .nav__bottom {
        position: relative;
        z-index: 9;
    }

    .nav__login {
        opacity: 1;
    }

    .nav__menu {
        opacity: 1;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

    }

    .nav__link {
        font-size: 20px;

    }

    .nav__language {
        position: absolute;
        top: 191px;
        left: 20px;
    }

    .nav__right {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
    }

    .responsive__nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        margin-top: 30px;
        z-index: 7;
    }

    .nav__top {
        display: none;
    }

    .header__nav-list {
        display: none;
    }

    .header__nav-content {
        flex-direction: column;
    }

    .header__nav-form {
        max-width: 700px;
        width: 100%;
        margin-top: 20px;
    }

    .nav__content {
        position: absolute;
        width: 100%;
        height: 100%;
        flex-direction: column;
        top: 0;
        left: 0;
    }



    .header__right {
        margin-top: 10px;
        ;
    }

    .header__left {
        margin-bottom: 100px;
    }

    .header__right-img {
        max-width: 500px;
        width: 100%;
    }

    .header__left-title {
        max-width: 100%;
        width: 100%;
    }

    .header__left-txt {
        max-width: 100%;
        width: 100%;
    }

    .header__content {
        flex-direction: column;
        row-gap: 50px;
    }

    .header__right::after {
        max-width: 200px;
        width: 100%;
        right: 170px;
    }

    .consultation__blocksystem {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .header__right::after {
        left: -201px;
    }
    .slider__title {
        max-width: 316px;
        width: 100%;
    }
}


@media (max-width: 850px) {
    .slider__btn{
        display: none;
    }
    .footer__about {
        display: flex;
        flex-wrap: wrap;
    }

    .header__left {
        margin-bottom: 200px;
    }

    .projects__blocksystem {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 800px) {
    .header__right::after {
        left: -166px;
        transform: scale(0.8);
        top: -209px;
    }
}


@media (max-width: 768px) {
    .header__nav-form {
        max-width: 600px;
        width: 100%;
    }
    .slider__title {
        margin-top: 50px;
        
    }
}

@media (max-width: 736px) {}

@media (max-width: 734px) {}

@media (max-width: 684px) {
    .slider__title {
        margin-top: 50px;
        max-width: 233px;
        width: 100%;
    }
    .slider__txt {
        font-size: calc(12px + (2 + 2 * 0.7) * ((100vw - 320px) / 1920));
    }
    .slider__title {
        font-size: calc(13px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    }
    .projects__blocksystem {
        grid-template-columns: 1fr;
    }

    .projects__blocksystem {
        place-items: center;
    }

    .consultation__blocksystem {
        grid-template-columns: 1fr;
    }

    .header__nav-form {
        max-width: 600px;
        width: 100%;

    }

    .header__right::after {
        left: -132px;
        top: -177px;
        transform: scale(0.7);
    }
}

@media (max-width: 667px) {
    .header__nav-form {
        max-width: 400px;
        width: 100%;
    }

    .header__right::after {
        left: -137px;
        top: -176px;
        transform: scale(0.7);
    }
}

@media (max-width: 576px) {
    .header__left-btn {
        clip-path: none;
        border-radius: 60px;
        display: inline-block;
        transform: none;
    }

    .header__right-img {
        /* max-width: 553px; */
        width: 400px;
    }

    .header__left-btn:nth-last-of-type(1) {
        clip-path: none;
    }

    .header__left-btn:nth-last-of-type(2) {
        clip-path: none;
    }
    .slider__title {
        max-width: 233px;
        width: 100%;
    }
    .slider__txt {
        font-size: calc(7px + (2 + 2 * 0.7) * ((100vw - 320px) / 1920));
    }
    .slider__title {
        font-size: calc(10px + (7 + 7 * 0.7) * ((100vw - 320px) / 1920));
    }

    .header__left-btns {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;


    }

    .header__right::after {
        left: -122px;
        top: -168px;
        transform: scale(0.6);
    }
}

@media (max-width: 480px) {
    .header__right::after {
        left: -104px;
        top: -158px;
        transform: scale(0.5);
    }

    .header__right-img {
        width: 400px;
    }
}

@media (max-width: 414px) {}

@media (max-width: 412px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}